In [1]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
movie_df = pd.read_csv('netflix_titles.csv')

movie_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [3]:
userInput = [{'title':'The Walking Dead','rating':3},
             {'title':'BoJack Horseman','rating':4},
             {'title':'Black Mirror','rating':4.5},
             {'title':'After Life','rating':3.5},
             {'title':'Community','rating':3.5}] 


userMovies = pd.DataFrame(userInput)
userMovies

              title  rating
0  The Walking Dead     3.0
1   BoJack Horseman     4.0
2      Black Mirror     4.5
3        After Life     3.5
4         Community     3.5

In [4]:
j_movie_df = movie_df.copy()
movie_df['listed_in'] = movie_df.listed_in.str.split(', ')
movie_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"[International TV Shows, TV Dramas, TV Sci-Fi ...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"[Dramas, International Movies]",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"[Horror Movies, International Movies]","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"[Action & Adventure, Independent Movies, Sci-F...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,[Dramas],A brilliant group of students become card-coun...

In [5]:
 _movie_df = movie_df.copy()


for index, row in movie_df.iterrows():
    for category in row['listed_in']:
        _movie_df.at[index, category] = 1 
_movie_df = _movie_df.drop(columns=['director','listed_in','type','rating','cast','country','date_added','release_year','duration','description'])        
_movie_df = _movie_df.fillna(0)  
_movie_df['show_id'] = _movie_df['show_id'].map(lambda x : x.lstrip('s'))
_movie_df = _movie_df.set_index(_movie_df['show_id'])
_movie_df.head()

,show_id,title,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy,Dramas,International Movies,Horror Movies,Action & Adventure,Independent Movies,...,TV Shows,Classic Movies,Cult Movies,TV Horror,Stand-Up Comedy & Talk Shows,Teen TV Shows,Stand-Up Comedy,Anime Features,TV Thrillers,Classic & Cult TV
show_id,,,,,,,,,,,,,,,,,,,,,
1,1,3%,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,7:19,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,23:59,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,9,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,21,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
j_movie_df = j_movie_df.drop(columns = ['type','director','cast','director','cast','country','date_added','release_year','rating','duration','listed_in','description'])
j_movie_df['show_id'] = j_movie_df['show_id'].map(lambda x : x.lstrip('s'))
j_movie_df.head()

  show_id  title
0       1     3%
1       2   7:19
2       3  23:59
3       4      9
4       5     21

In [7]:
inputMatch = j_movie_df[j_movie_df['title'].isin(userMovies['title'].tolist())]
userMovies = pd.merge(inputMatch, userMovies)
userMovies.head()

  show_id             title  rating
0     325        After Life     3.5
1     957      Black Mirror     4.5
2    1026   BoJack Horseman     4.0
3    1476         Community     3.5
4    6984  The Walking Dead     3.0

In [8]:
inputMatch = _movie_df[_movie_df['show_id'].isin(userMovies['show_id'].tolist())]
inputMatch

,show_id,title,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy,Dramas,International Movies,Horror Movies,Action & Adventure,Independent Movies,...,TV Shows,Classic Movies,Cult Movies,TV Horror,Stand-Up Comedy & Talk Shows,Teen TV Shows,Stand-Up Comedy,Anime Features,TV Thrillers,Classic & Cult TV
show_id,,,,,,,,,,,,,,,,,,,,,
325,325,After Life,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
957,957,Black Mirror,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1026,1026,BoJack Horseman,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1476,1476,Community,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6984,6984,The Walking Dead,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
userMovies = userMovies.reset_index(drop=True)

In [10]:
inputMatch = inputMatch.reset_index(drop=True)
ord_table = inputMatch.drop(columns = ['title','show_id'])
ord_table.head()

,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy,Dramas,International Movies,Horror Movies,Action & Adventure,Independent Movies,Sci-Fi & Fantasy,TV Mysteries,...,TV Shows,Classic Movies,Cult Movies,TV Horror,Stand-Up Comedy & Talk Shows,Teen TV Shows,Stand-Up Comedy,Anime Features,TV Thrillers,Classic & Cult TV
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [11]:
user = ord_table.transpose().dot(userMovies['rating'])
user

International TV Shows           8.0
TV Dramas                        7.5
TV Sci-Fi & Fantasy              0.0
Dramas                           0.0
International Movies             0.0
Horror Movies                    0.0
Action & Adventure               0.0
Independent Movies               0.0
Sci-Fi & Fantasy                 0.0
TV Mysteries                     0.0
Thrillers                        0.0
Crime TV Shows                   0.0
Docuseries                       0.0
Documentaries                    0.0
Sports Movies                    0.0
Comedies                         0.0
Anime Series                     0.0
Reality TV                       0.0
TV Comedies                     11.0
Romantic Movies                  0.0
Romantic TV Shows                0.0
Science & Nature TV              0.0
Movies                           0.0
British TV Shows                 8.0
Korean TV Shows                  0.0
Music & Musicals                 0.0
LGBTQ Movies                     0.0
Faith & Spirituality             0.0
Kids' TV                         0.0
TV Action & Adventure            3.0
Spanish-Language TV Shows        0.0
Children & Family Movies         0.0
TV Shows                         0.0
Classic Movies                   0.0
Cult Movies                      0.0
TV Horror                        0.0
Stand-Up Comedy & Talk Shows     0.0
Teen TV Shows                    0.0
Stand-Up Comedy                  0.0
Anime Features                   0.0
TV Thrillers                     0.0
Classic & Cult TV                3.0
dtype: float64

In [12]:
u_ord_table = _movie_df.set_index(_movie_df['title'])
u_ord_table = u_ord_table.drop(columns = ['title','show_id'])
u_ord_table.head()

,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy,Dramas,International Movies,Horror Movies,Action & Adventure,Independent Movies,Sci-Fi & Fantasy,TV Mysteries,...,TV Shows,Classic Movies,Cult Movies,TV Horror,Stand-Up Comedy & Talk Shows,Teen TV Shows,Stand-Up Comedy,Anime Features,TV Thrillers,Classic & Cult TV
title,,,,,,,,,,,,,,,,,,,,,
3%,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7:19,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23:59,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
recommendation_df = ((u_ord_table*user).sum(axis=1))/(user.sum())
j_movie_df.loc[j_movie_df['show_id'].isin(recommendation_df.head(20).keys())].drop(columns = ['show_id'])

                                    title
8                                     706
20                   ​​Kuch Bheege Alfaaz
45                                  Şubat
121                        50 First Dates
186                  A Holiday Engagement
705                Bakugan: Battle Planet
1919                    Eddie Murphy: Raw
1921                         Edge of Fear
1982  Elles étaient en guerre (1914-1918)
1993                      Emo the Musical
3021                          Inst@famous